services:
  almoxapp-frontend:
    build: ./frontend
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  almoxapp-backend:
    build: ./backend
    ports:
      - "3002:3000"
